<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>

				
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
		.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 65px;
}

@media (max-width: 700px) {
    .navbar-nav > li > a {
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
</style>


		<style>
		.login-form {
			width: 1000px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: ;
			color: #4d4d4d;
			font-size: 32px;
			padding: 20px 0 20px 0;
		}
		.login-form h2 {
			text-align: center;
			color: #4d4d4d;
			font-size: 35px;
			padding: 20px ;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 70%;
			padding: 12px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 60%;
			padding: 12px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-form a {
			text-align: right;
			width: 50%;
			padding: 5px;
			background-color: #535b63;
			border: 0;
			
			cursor: pointer;
			
			color: #ffffff;

		}
	
		.login-form p {
			
			color: #4d4d4d;
			font-size: 15px;
			padding: 20px;
		}


		</style>
	</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script><!--Import jQuery before export.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!--Data Table-->
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    <!--Export table buttons-->
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
    <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   

    <ul class="nav navbar-nav ">
    <li>	<a class="navbar-brand" href="/home">CryptoVote</a> </li>
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/vote">Vote</a></li>
      <li><a href="/authorpub">query author/publisher</a></li>
      <li><a href="/worldstate">World State</a></li>
      <li><a href="/admindata">Admin Data</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>




<h1 class=" bg-info text-muted" align="center"> Home</h1>

<br>
<br>

<div class="login-form">









<table id="example" class="table table-hover" style="width:100%">
    <thead>
        <tr>
            <th> hello </th>
            <th>Class</th>
            <th>Parents Name</th>
            <th>Age</th>
            <th>Age</th>
            <th>Age</th>
            
        </tr>
    </thead>
</table>

<!-- <ul> 
	<% obj.forEach(function(obj){ %>
	<li><p> <mark> <%=obj.Record.url%> </mark>- <i><%=obj.Record.author%> </i> -<%=obj.Record.publisher%>- <b><%=obj.Record.verdict%> </b></p> </li>  
	<% }) %>
</ul> -->
<script type="text/javascript">

	var json_data = <%-JSON.stringify(data)%>;

	

	// var voters = [];

	// for(var voter in json_data){

	// }

	$('#example').DataTable( {
	  // ajax: '/worldstate',
	  data: json_data,
	  render: $.fn.dataTable.render.text(),
	  columns: [
        { title: "URL", "data": "Record.url" },
        { title: "Author", "data": "Record.author" },
        { title: "Publisher", "data": "Record.publisher" },
		{ title: "Reliable Score", "data": "Record.reliable_score"},
		{ title: "Unreliable Score", "data": "Record.unreliable_score"},
        { title: "Verdict", "data": "Record.verdict"},
 
        // 
    	]
	}
	);

	$('.reliable').click(function(e){
	 var elementClicked = e.target;
	 var clickedUrl = data.Record.url;
	 var Author = data.Record.author;
	 var Publisher = data.Record.publisher;
	  $.post("worldstatevote", {url: clickedUrl, vote: "reliable", author: Author, publisher: Publisher}, function(data, status){
	  	
	    console.log(status);
	  });
	});
	$('.unreliable').click(function(e){
	 var elementClicked = e.target;
	 var clickedUrl = json_data.Record.url;
	 var Author = json_data.Record.author;
	 var Publisher = json_data.Record.publisher;
	  $.post("/worldstatevote", {url: clickedUrl, vote: "unreliable", author: Author, publisher: Publisher}, function(data, status){
	    console.log(status);
	  });
	});
</script>










<!-- <form action="authorscore" method="post">
	<p>Search AUTHOR Score</p>
	<input type="text" name="author">

	

	<input type="submit" name="vote">

	
</form>
<form action="authorscore" method="post">
	<p>Search AUTHOR Score</p>
	<input type="text" name="author">

	

	<input type="submit" name="vote">

	
</form> -->
</div>




<body> 






